/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic Styles */
body {
  font-family: 'Climate Crisis', cursive;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  visibility: hidden;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-left: 60px;
  padding-right: 60px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 100px;
  height: auto;
}

.header-right {
  display: flex;
  align-items: left;
  margin-left: 30px;

}

.header-right button {
  margin-left: 1rem;
}

.lang-switcher {
  align-items: right;
  margin: 0 0 0 auto
}

.work-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.work-item:hover {
  opacity: 0.8;
}

.work-image {
  flex-basis: 25%;
  margin-right: 20px;
  min-width: 150px;
}

.work-image img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 300px;
  max-height: 400px;
}

.work-info {
  flex-basis: 60%;
}

.work-title {
  font-size: 1.2em;
  margin-bottom: 5px;
  margin-left: 12px;
  white-space: nowrap;
}

.work-description {
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .work-item {
    flex-direction: column;
  }

  .work-image {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .work-image {
    flex-basis: 40%;
  }

  .work-title {
    white-space: inherit;
  }
}

@media screen and (max-width: 1000px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 10px;
  }

  .header-left {
    text-align: center;
    margin: 0 auto 0 auto;
  }

  .header-right {
    display: none;
  }

  .lang-switcher {
    align-items: center;
    margin: 0 auto 0 auto;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1400px) {
  .intro {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    display: flex;
  }

  .intro .image {
    width: 400px;
    height: auto;
    margin-top: -50px;
    margin-left: 400px;
    padding: 0;
  }
}

@media screen and (max-width: 1400px) {
  .intro {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro .image {
    width: 300px;
    height: auto;
    padding: 0;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
  }
}

iframe {
  aspect-ratio: 16 / 9;
  max-width: 1300px;
  margin-bottom: -50px;
}

h1 {
  font-size: 50px;
}

h2 {
  margin-top: 60px;
  margin-bottom: 5px;
  margin-left: 30px;
  font-size: 30px;
}

h3 {
  margin-left: 30px;
  font-size: auto;
}

p {
  font-size: 16px;
}

#nomargin {
  margin-left: 4px;
  font-size: 16px;
}

#contacttxt {
  margin-left: 4px;
  font-size: 13px;
}

#title {
  font-size: 18px;
  white-space: nowrap;
}

.contacts {
  margin-top: 10px;
}

.text_img {
  width: 5%;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}

.container img {
  width: 48%;
  margin-bottom: 1.5%;
  margin-left: 1.5%;
}

.nav-menu {
  display: none;
}

@media (max-width: 700px) {
  .container img {
    width: 100%;
    margin-bottom: 1.5%;
    margin-left: 1.5%;
  }
}

@media screen and (min-width: 700px) {
  main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

footer {
  background-color: #ffffff;
  color: #666;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

footer li {
  margin-left: 20px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 25px;
  }

  p {
    font-size: 12px;
  }

  ul {
    font-size: 12px;
  }

  #nomargin {
    margin-left: 4px;
    font-size: 12px;
  }

  #contacttxt {
    margin-left: 4px;
    font-size: 10px;
  }

  .intro .image {
    width: 250px;
    height: auto;
    padding: 0;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
  }

  main {
    margin: 0 auto;
  }
}

.lang-switcher {
  display: flex;
}

.lang-switcher button+button {
  margin-left: 16px;
}

li {
  margin-left: 40px;
}

.works {
  margin-top: 32px;
}

.work-list li {
  margin-bottom: 16px;
}

.work-list h4 {
  margin-bottom: 8px;
}

.work-description {
  margin-left: 16px;
}

.detail-description {
  margin-left: 30px;
}

.detail-image {
  max-width: 80%;
  margin: auto;
  display: block;
  margin-top: 20px;
}

.skillList {
  margin-left: 30px;
}

.menubutton {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.detailButton {
  display: block;
  margin: auto;
  border: none;
  cursor: pointer;
  margin-top: 60px;
  padding: 10px 20px;
  background-color: #ececec;
}

.menubutton:hover {
  background-color: #f4f4f4;
}


.tab {
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 33px;
  margin-right: 33px;
}

.tab button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.tab button:hover {
  background-color: #f4f4f4;
}

.tab button:focus {
  outline: none;
}

.tab .active {
  background-color: #ddd;
}

.tabcontent {
  display: none;
}

/* Language-specific Styles */
.lang-en .lang-switcher button:nth-child(1),
.lang-ja .lang-switcher button:nth-child(2),
.lang-en .lang-ja,
.lang-ja .lang-en {
  display: none;
}